### What is functional programming? 

Lets be more like mathaticsion 
Pretend data as immutable => will get back the value, but no changing it.  

Function as data

### Intro to comprehensions

In [1]:
# comprehensions 

# list, set, dict

In [2]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
output = []
for one_number in numbers:  
    output.append(one_number * one_number)

In [5]:
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
# list comprehension 
x = [one_number * one_number for one_number in numbers]

# [........] tell python: i want to get a list back 
# or, the result of this operation is expected to be a 'list'

# list comprehension is different with for -- loop despite there are some overlap 

x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
[ '123' for one_number in numbers]

['123', '123', '123', '123', '123', '123', '123', '123', '123', '123']

In [11]:
[print (one_number * one_number) for one_number in numbers]

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

[one_number * one_number for one_number in numbers]

'for one_number in numbers' => iterlation of source data 
'one_number * one_number'   => expression

In [12]:
[one_number * one_number        # SELECT  
 for one_number in numbers]     # FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
words = 'This is a bunch of words'.split() 

' '.join([one_word.capitalize()
 for one_word in words])

'This Is A Bunch Of Words'

In [16]:
'This is a bunch of words'.title()

'This Is A Bunch Of Words'

In [17]:
type(words)

list

In [18]:
words2 = 'This is a bunch of words'

In [19]:
type(words2)

str

In [20]:
words.title()

AttributeError: 'list' object has no attribute 'title'

In [42]:
herlist = [20, 30, 40]
type(20)

int

In [45]:
#mylist = ['abc', 'bcd', 'cde']
mylist = [10, 20, 30]

xyz = '*'.join([str(one_number)
         for one_number in mylist])

type(xyz)
    
# for one_number in mylist])

str

In [46]:
print (xyz)

10*20*30

In [47]:
hexnums = input("Enter some hex numbers: ").split()

In [49]:
hexnums

['1234', '5678', '90ab', 'cdef']

In [50]:
sum ([int(one_word, 16)
       for one_word in hexnums])

116550

In [51]:
words = input('Enter some words: ')

In [52]:
word

NameError: name 'word' is not defined

In [53]:
words

'this is a bunch of words'

In [54]:
len(words.replace(" ",''))

19

In [55]:
sum([len(one_word) 
    for one_word in words.split()])

19

In [57]:
d = {'a': 1, 'b':2, 'c':3}

[d[one_item] * 5
 for one_item in d]

[5, 10, 15]

In [58]:
d = {'a': 1, 'b':2, 'c':3}
[(one_item,d[one_item] * 5) # how does python understand 'one_item' here is the key, not value?
 for one_item in d]

[('a', 5), ('b', 10), ('c', 15)]