### What is functional programming? 

Lets be more like mathaticsion 
Pretend data as immutable => will get back the value, but no changing it.  

Function as data

### Intro to comprehensions

In [2]:
# comprehensions 

# list, set, dict

In [3]:
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
output = []
for one_number in numbers:  
    output.append(one_number * one_number)

In [5]:
output

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# list comprehension 
x = [one_number * one_number for one_number in numbers]

# [........] tell python: i want to get a list back 
# or, the result of this operation is expected to be a 'list'

# list comprehension is different with for -- loop despite there are some overlap 

x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
[ '123' for one_number in numbers]

['123', '123', '123', '123', '123', '123', '123', '123', '123', '123']

In [8]:
[print (one_number * one_number) for one_number in numbers]

0
1
4
9
16
25
36
49
64
81

[None, None, None, None, None, None, None, None, None, None]

[one_number * one_number for one_number in numbers]

'for one_number in numbers' => iterlation of source data 
'one_number * one_number'   => expression

In [9]:
[one_number * one_number        # SELECT  
 for one_number in numbers]     # FROM

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
words = 'This is a bunch of words'.split() 

' '.join([one_word.capitalize()
 for one_word in words])

'This Is A Bunch Of Words'

In [11]:
'This is a bunch of words'.title()

'This Is A Bunch Of Words'

In [12]:
type(words)

list

In [13]:
words2 = 'This is a bunch of words'

In [14]:
type(words2)

str

In [15]:
words.title()

AttributeError: 'list' object has no attribute 'title'

In [ ]:
herlist = [20, 30, 40]
type(20)

int

In [ ]:
#mylist = ['abc', 'bcd', 'cde']
mylist = [10, 20, 30]

xyz = '*'.join([str(one_number)
         for one_number in mylist])

type(xyz)
    
# for one_number in mylist])

str

In [ ]:
print (xyz)

10*20*30

In [ ]:
hexnums = input("Enter some hex numbers: ").split()

In [ ]:
hexnums

['1234', '5678', '90ab', 'cdef']

In [ ]:
sum ([int(one_word, 16)
       for one_word in hexnums])

116550

In [ ]:
words = input('Enter some words: ')

In [ ]:
word

NameError: name 'word' is not defined

In [ ]:
words

'this is a bunch of words'

In [ ]:
len(words.replace(" ",''))

19

In [ ]:
sum([len(one_word) 
    for one_word in words.split()])

19

In [23]:
d = {'a': 1, 'b':2, 'c':3}

[one_item
 for one_item in d]

# to get the key variable back

['a', 'b', 'c']

In [21]:
d = {'a': 1, 'b':2, 'c':3}

[d[one_item] * 5
 for one_item in d]

[5, 10, 15]

In [22]:
d = {'a': 1, 'b':2, 'c':3}
[(one_item,d[one_item] * 5) # how does python understand 'one_item' here is the key, not value?
 for one_item in d]

[('a', 5), ('b', 10), ('c', 15)]

In [19]:
mylist = [10, 20, 30]

type(mylist[1])

int

In [18]:
[str(x)
 for x in mylist]
# convert int type of value in mylist into a str

['10', '20', '30']

In [20]:
'*'.join([str(x)
          for x in mylist])

'10*20*30'

In [24]:
[key * d[key]
 for key in d ]

# why does it not show 
# aa

['a', 'bb', 'ccc']

In [25]:
[d[key]
 for key in d]

[1, 2, 3]

In [26]:
[key
 for key in d]

['a', 'b', 'c']

In [28]:
e = 'a' * 2 
print (e)

aa

In [30]:
def reverse_word(word):
    return word[::-1] # 

words = input("enter some words: ").split() 

[reverse_word(one_word)
 for one_word in words]

# why dont i need to create a variable store and append the outputs into? 
# probably the '[ ]' is the one that make the output to be inside a list already.

['siht', 'si', 'a', 'tset', 'fo', 'ym', 'noisneherpmoc']

In [31]:
reverse_word('thinh')

'hniht'

In [33]:
d = {'a': 1, 'b':2, 'c':3}

[key * value 
 for key, value in d.items() ]

['a', 'bb', 'ccc']

In [35]:
d = {'a': 1, 'b':2, 'c':3}

for key, value in d.items(): 
    print (f'key is {key} value is {value}')
    print (key * value)

key is a value is 1
a
key is b value is 2
bb
key is c value is 3
ccc

In [38]:
d = {'a': 1, 'b':2, 'c':3}

[[key , value]
 for key, value in d.items() ]

[['a', 1], ['b', 2], ['c', 3]]

In [39]:
[one_line
 for one_line in open ('/etc/passwd')] # does not work on my computer

FileNotFoundError: [Errno 2] No such file or directory: '/etc/passwd'

In [ ]:
# (1)given a list of interger, use a list comprehension to 
#  to calculate the sum of the factorials of those integers 
    
# n! = n-1 * n-2 * n-3 .... 1 
# 5! = 5 * 4 * 3 * 2 * 1 

# sample[3, 4, 5]
# 3! = 3 * 2 * 1 = 6 
# 4! = 4 * 3 * 2 * 1 = 24 
# 5! = 5 * 4 * 3 * 2 * 1 = 120  
# sum(6, 24, 120)

In [45]:
def factorial (n):
    result = 1 
    for i in range (1, n + 1):
        result *= i 
    return result 

sample = [3, 4, 5]

sum_of_factorials = sum([factorial(n)
                         for n in sample])

print (sum_of_factorials)

150

In [6]:
def factorial (n):
    result = 1 
    for i in range (1, n+1):
#        print (i)
        result *= i 
    return result 

factorial(5)

120