# Agenda: CSV files

1. A little background on CSV
2. `read_csv` and `to_csv`
3. filespec
4. `sep`
5. `header`
6. `index_col`
7. `usecols`
8. `names`
9. `dtype`
10. `engine`
11. `parse_dates`
12. `date_format`
13. `comment`

# What are CSV files?

CSV originally stood for "comma-separated values," but now I've heard it can be called "character-separated values."

The idea is that we have a text-file format that contains our records:

- Every record is one line
- On each line, we have multiple fields
- Fields are separated by commas

On the face of it, that seems reasonable! But there are a few problems:

- Because it's a text format, not a binary format, Pandas needs to figure out what type of values should be in each column
- Sometimes, we (or the authors of the file) want to use a different separator. I'm partial to `'\t'` (tab), because it's unlikely to be used in the data.
- Sometimes, the column names are included, and sometimes they aren't.

You might think that CSV files aren't that complex; once you know the separator and a few other pieces of information, you should be able to read it into Python with `str.split`. 

The problem is that CSV allows us to have commas (or whatever separators we're using) *inside* of a data field.

`read_csv` handles the separator inside of a field just fine.

In [1]:
s = 'ab,cde,fg'

s.split(',')

['ab', 'cde', 'fg']

In [2]:
# we can include , inside of a field if we use "" around it
s = 'ab,"cd,e",fg'
s.split(',')

['ab', '"cd', 'e"', 'fg']

# To read a CSV file, we use `pd.read_csv`

Notice that this is a function defined in the `pd` namespace, not a method we call on a data frame. The point is to create a data frame where there wasn't one.

In [4]:
import pandas as pd
from pandas import Series, DataFrame

help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols: 'UsecolsArgType' = None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters: 'Mapping[Hashable, Callable] | None' = None, true_values: 'list | None' = None, false_values: 'list | None' = None, skipinitialspace: 'bool' = False, skiprows: 'list[int] | int | Callable[[Hashable], bool] | None' = None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values: 'Hashable | Iterable[Hashable] | Mapping[Hashable, Iterable[Hashable]] | None' = None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool | lib.NoDefault' = <no_default>, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool | lib.NoDefault' = <no_default>, date_parser: 'Callable | lib.NoDefault' = <no_default>, date_format: 'str | dict[Hashable, str] | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool | lib.NoDefault' = <no_default>, low_memory: 'bool' = True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Character or regex pattern to treat as the delimiter. If ``sep=None``, the
        C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator from only the first valid
        row of the file by Python's builtin sniffer tool, ``csv.Sniffer``.
        In addition, separators longer than 1 character and different from
        ``'\s+'`` will be interpreted as regular expressions and will also force
        the use of the Python parsing engine. Note that regex delimiters are prone
        to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, optional
        Alias for ``sep``.
    header : int, Sequence of int, 'infer' or None, default 'infer'
        Row number(s) containing column labels and marking the start of the
        data (zero-indexed). Default behavior is to infer the column names: if no ``names``
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly to ``names`` then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a :class:`~pandas.MultiIndex` on the columns
        e.g. ``[0, 1, 3]``. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : Sequence of Hashable, optional
        Sequence of column labels to apply. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : Hashable, Sequence of Hashable or False, optional
      Column(s) to use as row label(s), denoted either by column labels or column
      indices.  If a sequence of labels or indices is given, :class:`~pandas.MultiIndex`
      will be formed for the row labels.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g., when you have a malformed file with delimiters at
      the end of each line.
    usecols : Sequence of Hashable or Callable, optional
        Subset of columns to select, denoted either by column labels or column indices.
        If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in ``names`` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        ``usecols`` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a :class:`~pandas.DataFrame` from ``data`` with element order
        preserved use ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]``
        for columns in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to ``True``. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : dtype or dict of {Hashable : dtype}, optional
        Data type(s) to apply to either the whole dataset or individual columns.
        E.g., ``{'a': np.float64, 'b': np.int32, 'c': 'Int64'}``
        Use ``str`` or ``object`` together with suitable ``na_values`` settings
        to preserve and not interpret ``dtype``.
        If ``converters`` are specified, they will be applied INSTEAD
        of ``dtype`` conversion.

        .. versionadded:: 1.5.0

            Support for ``defaultdict`` was added. Specify a ``defaultdict`` as input where
            the default determines the ``dtype`` of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The 'pyarrow' engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict of {Hashable : Callable}, optional
        Functions for converting values in specified columns. Keys can either
        be column labels or column indices.
    true_values : list, optional
        Values to consider as ``True`` in addition to case-insensitive variants of 'True'.
    false_values : list, optional
        Values to consider as ``False`` in addition to case-insensitive variants of 'False'.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : int, list of int or Callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (``int``)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning ``True`` if the row should be skipped and ``False`` otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with ``engine='c'``).
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : Hashable, Iterable of Hashable or dict of {Hashable : Iterable}, optional
        Additional strings to recognize as ``NA``/``NaN``. If ``dict`` passed, specific
        per-column ``NA`` values.  By default the following values are interpreted as
        ``NaN``: " ", "#N/A", "#N/A N/A", "#NA", "-1.#IND", "-1.#QNAN", "-NaN", "-nan",
        "1.#IND", "1.#QNAN", "<NA>", "N/A", "NA", "NULL", "NaN", "None",
        "n/a", "nan", "null ".

    keep_default_na : bool, default True
        Whether or not to include the default ``NaN`` values when parsing the data.
        Depending on whether ``na_values`` is passed in, the behavior is as follows:

        * If ``keep_default_na`` is ``True``, and ``na_values`` are specified, ``na_values``
          is appended to the default ``NaN`` values used for parsing.
        * If ``keep_default_na`` is ``True``, and ``na_values`` are not specified, only
          the default ``NaN`` values are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are specified, only
          the ``NaN`` values specified ``na_values`` are used for parsing.
        * If ``keep_default_na`` is ``False``, and ``na_values`` are not specified, no
          strings will be parsed as ``NaN``.

        Note that if ``na_filter`` is passed in as ``False``, the ``keep_default_na`` and
        ``na_values`` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of ``na_values``). In
        data without any ``NA`` values, passing ``na_filter=False`` can improve the
        performance of reading a large file.
    verbose : bool, default False
        Indicate number of ``NA`` values placed in non-numeric columns.

        .. deprecated:: 2.2.0
    skip_blank_lines : bool, default True
        If ``True``, skip over blank lines rather than interpreting as ``NaN`` values.
    parse_dates : bool, list of Hashable, list of lists or dict of {Hashable : list}, default False
        The behavior is as follows:

        * ``bool``. If ``True`` -> try parsing the index. Note: Automatically set to
          ``True`` if ``date_format`` or ``date_parser`` arguments have been passed.
        * ``list`` of ``int`` or names. e.g. If ``[1, 2, 3]`` -> try parsing columns 1, 2, 3
          each as a separate date column.
        * ``list`` of ``list``. e.g.  If ``[[1, 3]]`` -> combine columns 1 and 3 and parse
          as a single date column. Values are joined with a space before parsing.
        * ``dict``, e.g. ``{'foo' : [1, 3]}`` -> parse columns 1, 3 as date and call
          result 'foo'. Values are joined with a space before parsing.

        If a column or index cannot be represented as an array of ``datetime``,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an ``object`` data type. For
        non-standard ``datetime`` parsing, use :func:`~pandas.to_datetime` after
        :func:`~pandas.read_csv`.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If ``True`` and ``parse_dates`` is enabled, pandas will attempt to infer the
        format of the ``datetime`` strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If ``True`` and ``parse_dates`` specifies combining multiple columns then
        keep the original columns.
    date_parser : Callable, optional
        Function to use for converting a sequence of string columns to an array of
        ``datetime`` instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. pandas will try to call ``date_parser`` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by ``parse_dates``) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by ``parse_dates`` into a single array
        and pass that; and 3) call ``date_parser`` once for each row using one or
        more strings (corresponding to the columns defined by ``parse_dates``) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`~pandas.to_datetime` as-needed.
    date_format : str or dict of column -> format, optional
        Format to use for parsing dates when used in conjunction with ``parse_dates``.
        The strftime to parse time, e.g. :const:`"%d/%m/%Y"`. See
        `strftime documentation
        <https://docs.python.org/3/library/datetime.html
        #strftime-and-strptime-behavior>`_ for more information on choices, though
        note that :const:`"%f"` will parse all the way up to nanoseconds.
        You can also pass:

        - "ISO8601", to parse any `ISO8601 <https://en.wikipedia.org/wiki/ISO_8601>`_
            time string (not necessarily in exactly the same format);
        - "mixed", to infer the format for each element individually. This is risky,
            and you should probably use it along with `dayfirst`.

        .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If ``True``, use a cache of unique, converted dates to apply the ``datetime``
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return ``TextFileReader`` object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Number of lines to read from the file per chunk. Passing a value will cause the
        function to return a ``TextFileReader`` object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str (length 1), optional
        Character acting as the thousands separator in numerical values.
    decimal : str (length 1), default '.'
        Character to recognize as decimal point (e.g., use ',' for European data).
    lineterminator : str (length 1), optional
        Character used to denote a line break. Only valid with C parser.
    quotechar : str (length 1), optional
        Character used to denote the start and end of a quoted item. Quoted
        items can include the ``delimiter`` and it will be ignored.
    quoting : {0 or csv.QUOTE_MINIMAL, 1 or csv.QUOTE_ALL, 2 or csv.QUOTE_NONNUMERIC, 3 or csv.QUOTE_NONE}, default csv.QUOTE_MINIMAL
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Default is
        ``csv.QUOTE_MINIMAL`` (i.e., 0) which implies that only fields containing special
        characters are quoted (e.g., characters defined in ``quotechar``, ``delimiter``,
        or ``lineterminator``.
    doublequote : bool, default True
       When ``quotechar`` is specified and ``quoting`` is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive ``quotechar`` elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        Character used to escape other characters.
    comment : str (length 1), optional
        Character indicating that the remainder of line should not be parsed.
        If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter ``header`` but not by
        ``skiprows``. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in ``'a,b,c'`` being
        treated as the header.
    encoding : str, optional, default 'utf-8'
        Encoding to use for UTF when reading/writing (ex. ``'utf-8'``). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    encoding_errors : str, optional, default 'strict'
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: ``delimiter``, ``doublequote``, ``escapechar``,
        ``skipinitialspace``, ``quotechar``, and ``quoting``. If it is necessary to
        override values, a ``ParserWarning`` will be issued. See ``csv.Dialect``
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or Callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

        - ``'error'``, raise an Exception when a bad line is encountered.
        - ``'warn'``, raise a warning when a bad line is encountered and skip that line.
        - ``'skip'``, skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0


# How can I use `read_csv`?

The most usual case is to call `pd.read_csv` with a string, a filename on the local filesystem that is in CSV format.  The file can actually be compressed with zip or a few other compression systems, and Pandas will know what to do.

But you can actually pass two other types of values:

- An open file object ("file-like object"), and if it's readable, then it'll work.
- A string containing a URL. `read_csv` will download the content from that URL, and then feed that into `read_csv`.

In [10]:
df = pd.read_csv('albany,ny.csv')

In [11]:
df.head()

,date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex.1","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset",...,"albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
0,2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-5,2,9,67,0.0,1023,-5,10,309,1
1,2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-6,4,18,68,0.0,1023,-6,10,173,2
2,2018-12-11 06:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-7,2,14,68,0.0,1023,-8,10,168,1
3,2018-12-11 09:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,...,-3,3,8,55,0.0,1021,-4,10,207,3
4,2018-12-11 12:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,...,-2,4,3,50,0.0,1017,-2,10,189,3

# What do we check when we've loaded a CSV file?

1. Did we get the separator right?
2. Are the column names right? Did we get the right row for the column names?
3. Did Pandas guess the dtypes correctly?

In [12]:
df.dtypes

date_time                       object
albany,ny_maxtempC               int64
albany,ny_mintempC               int64
albany,ny_totalSnow_cm         float64
albany,ny_sunHour              float64
albany,ny_uvIndex                int64
albany,ny_uvIndex.1              int64
albany,ny_moon_illumination      int64
albany,ny_moonrise              object
albany,ny_moonset               object
albany,ny_sunrise               object
albany,ny_sunset                object
albany,ny_DewPointC              int64
albany,ny_FeelsLikeC             int64
albany,ny_HeatIndexC             int64
albany,ny_WindChillC             int64
albany,ny_WindGustKmph           int64
albany,ny_cloudcover             int64
albany,ny_humidity               int64
albany,ny_precipMM             float64
albany,ny_pressure               int64
albany,ny_tempC                  int64
albany,ny_visibility             int64
albany,ny_winddirDegree          int64
albany,ny_windspeedKmph          int64
dtype: object

# Writing CSV files

If I want to write a data frame in memory out to a CSV file, I can use `pd.to_csv`. This also has many options, but not quite as many.

In [13]:
df.to_csv('output.csv')

In [14]:
!head output.csv

,date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex.1","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset","albany,ny_sunrise","albany,ny_sunset","albany,ny_DewPointC","albany,ny_FeelsLikeC","albany,ny_HeatIndexC","albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
0,2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-5,-5,-5,2,9,67,0.0,1023,-5,10,309,1
1,2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-11,-6,-6,-6,4,18,68,0.0,1023,-6,10,173,2
2,2018-12-11 06:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-12,-7,-7,-7,2,14,68,0.0,1023,-8,10,168,1
3,2018-12-11 09:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-11,-3,-3,-3,3,8,55,0.0,1021,-4,10,207,3
4,2018-12-11 12:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-2,-1,-2,4,3,50,0.0,1017,-2,10,189,3
5,2018-12-11 15:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-9,-2,-2,-2,1,3,58,0.0,1016,-3,10,79,1
6,2018-12-11 18:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-4,-4,-4,2,94,62,0.0,1016,-4,10,354,1
7,2018-12-11 21:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-8,-4,-4,-4,3,66,70,0.0,1016,-4,10,220,2
8,2018-12-12 00:00:00,0,-5,0.1,6.9,1,0,29,11:07 AM,09:20 PM,07:16 AM,04:21 PM,-6,-6,-4,-6,7,81,83,0.0,1015,-4,10,294,4

# Exercise: Reading a CSV file

1. In the directory, alongside the Jupyter notebook for this class, you'll find the weather info for Albany, NY. Download it, and create a data frame with it.
2. Write out the data frame to disk, but using `'\t'` as the separator, rather than the default of `,`.

In [15]:
filename = 'albany,ny.csv'

df = pd.read_csv(filename)

In [16]:
df.head()

,date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex.1","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset",...,"albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
0,2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-5,2,9,67,0.0,1023,-5,10,309,1
1,2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-6,4,18,68,0.0,1023,-6,10,173,2
2,2018-12-11 06:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-7,2,14,68,0.0,1023,-8,10,168,1
3,2018-12-11 09:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,...,-3,3,8,55,0.0,1021,-4,10,207,3
4,2018-12-11 12:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,...,-2,4,3,50,0.0,1017,-2,10,189,3

In [17]:
df.dtypes

date_time                       object
albany,ny_maxtempC               int64
albany,ny_mintempC               int64
albany,ny_totalSnow_cm         float64
albany,ny_sunHour              float64
albany,ny_uvIndex                int64
albany,ny_uvIndex.1              int64
albany,ny_moon_illumination      int64
albany,ny_moonrise              object
albany,ny_moonset               object
albany,ny_sunrise               object
albany,ny_sunset                object
albany,ny_DewPointC              int64
albany,ny_FeelsLikeC             int64
albany,ny_HeatIndexC             int64
albany,ny_WindChillC             int64
albany,ny_WindGustKmph           int64
albany,ny_cloudcover             int64
albany,ny_humidity               int64
albany,ny_precipMM             float64
albany,ny_pressure               int64
albany,ny_tempC                  int64
albany,ny_visibility             int64
albany,ny_winddirDegree          int64
albany,ny_windspeedKmph          int64
dtype: object

In [18]:
df.to_csv('albany.csv', sep='\t')

In [19]:
!head albany.csv

	date_time	albany,ny_maxtempC	albany,ny_mintempC	albany,ny_totalSnow_cm	albany,ny_sunHour	albany,ny_uvIndex	albany,ny_uvIndex.1	albany,ny_moon_illumination	albany,ny_moonrise	albany,ny_moonset	albany,ny_sunrise	albany,ny_sunset	albany,ny_DewPointC	albany,ny_FeelsLikeC	albany,ny_HeatIndexC	albany,ny_WindChillC	albany,ny_WindGustKmph	albany,ny_cloudcover	albany,ny_humidity	albany,ny_precipMM	albany,ny_pressure	albany,ny_tempC	albany,ny_visibility	albany,ny_winddirDegree	albany,ny_windspeedKmph
0	2018-12-11 00:00:00	-2	-8	0.0	8.7	2	0	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-10	-5	-5	-5	2	9	67	0.0	1023	-5	10	309	1
1	2018-12-11 03:00:00	-2	-8	0.0	8.7	2	0	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-11	-6	-6	-6	4	18	68	0.0	1023	-6	10	173	2
2	2018-12-11 06:00:00	-2	-8	0.0	8.7	2	0	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-12	-7	-7	-7	2	14	68	0.0	1023	-8	10	168	1
3	2018-12-11 09:00:00	-2	-8	0.0	8.7	2	2	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-11	-3	-3	-3	3	8	55	0.0	1021	-4	10	207	3
4	2018-12-11 12:00:00	-2	-8	0.0	8.7	2	2	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-10	-2	-1	-2	4	3	50	0.0	1017	-2	10	189	3
5	2018-12-11 15:00:00	-2	-8	0.0	8.7	2	2	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-9	-2	-2	-2	1	3	58	0.0	1016	-3	10	79	1
6	2018-12-11 18:00:00	-2	-8	0.0	8.7	2	0	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-10	-4	-4	-4	2	94	62	0.0	1016	-4	10	354	1
7	2018-12-11 21:00:00	-2	-8	0.0	8.7	2	0	21	10:31 AM	08:22 PM	07:15 AM	04:21 PM	-8	-4	-4	-4	3	66	70	0.0	1016	-4	10	220	2
8	2018-12-12 00:00:00	0	-5	0.1	6.9	1	0	29	11:07 AM	09:20 PM	07:16 AM	04:21 PM	-6	-6	-4	-6	7	81	83	0.0	1015	-4	10	294	4

In [20]:
df.to_csv('albany.csv', sep='e')

In [21]:
!head albany.csv

e"date_time"e"albany,ny_maxtempC"e"albany,ny_mintempC"ealbany,ny_totalSnow_cmealbany,ny_sunHoure"albany,ny_uvIndex"e"albany,ny_uvIndex.1"ealbany,ny_moon_illuminatione"albany,ny_moonrise"e"albany,ny_moonset"e"albany,ny_sunrise"e"albany,ny_sunset"e"albany,ny_DewPointC"e"albany,ny_FeelsLikeC"e"albany,ny_HeatIndexC"ealbany,ny_WindChillCealbany,ny_WindGustKmphe"albany,ny_cloudcover"ealbany,ny_humiditye"albany,ny_precipMM"e"albany,ny_pressure"e"albany,ny_tempC"ealbany,ny_visibilitye"albany,ny_winddirDegree"e"albany,ny_windspeedKmph"
0e2018-12-11 00:00:00e-2e-8e0.0e8.7e2e0e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-10e-5e-5e-5e2e9e67e0.0e1023e-5e10e309e1
1e2018-12-11 03:00:00e-2e-8e0.0e8.7e2e0e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-11e-6e-6e-6e4e18e68e0.0e1023e-6e10e173e2
2e2018-12-11 06:00:00e-2e-8e0.0e8.7e2e0e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-12e-7e-7e-7e2e14e68e0.0e1023e-8e10e168e1
3e2018-12-11 09:00:00e-2e-8e0.0e8.7e2e2e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-11e-3e-3e-3e3e8e55e0.0e1021e-4e10e207e3
4e2018-12-11 12:00:00e-2e-8e0.0e8.7e2e2e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-10e-2e-1e-2e4e3e50e0.0e1017e-2e10e189e3
5e2018-12-11 15:00:00e-2e-8e0.0e8.7e2e2e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-9e-2e-2e-2e1e3e58e0.0e1016e-3e10e79e1
6e2018-12-11 18:00:00e-2e-8e0.0e8.7e2e0e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-10e-4e-4e-4e2e94e62e0.0e1016e-4e10e354e1
7e2018-12-11 21:00:00e-2e-8e0.0e8.7e2e0e21e10:31 AMe08:22 PMe07:15 AMe04:21 PMe-8e-4e-4e-4e3e66e70e0.0e1016e-4e10e220e2
8e2018-12-12 00:00:00e0e-5e0.1e6.9e1e0e29e11:07 AMe09:20 PMe07:16 AMe04:21 PMe-6e-6e-4e-6e7e81e83e0.0e1015e-4e10e294e4

In [22]:
!head $filename

This is a file
It has information





date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset","albany,ny_sunrise","albany,ny_sunset","albany,ny_DewPointC","albany,ny_FeelsLikeC","albany,ny_HeatIndexC","albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-5,-5,-5,2,9,67,0.0,1023,-5,10,309,1
2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-11,-6,-6,-6,4,18,68,0.0,1023,-6,10,173,2

In [23]:
# what will happen in this case, if we try to read the CSV file?

df = pd.read_csv(filename)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 8, saw 25

In [36]:
# we can ignore the first few lines of a file, telling Pandas that the headers
# are actually on another line, with the header= keyword argument.

# - Not passing it means that the first line of the file contains the headers
# - Passing it with a value of None means that there are no headers in the file
# - Passing it with an integer value indicates where the headers are

df = pd.read_csv(filename, header=2)  # this means: ignore the first 2 lines, and the 3rd contains the header names

In [37]:
df.head()

,date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex.1","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset",...,"albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
0,2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-5,2,9,67,0.0,1023,-5,10,309,1
1,2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-6,4,18,68,0.0,1023,-6,10,173,2
2,2018-12-11 06:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,...,-7,2,14,68,0.0,1023,-8,10,168,1
3,2018-12-11 09:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,...,-3,3,8,55,0.0,1021,-4,10,207,3
4,2018-12-11 12:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,...,-2,4,3,50,0.0,1017,-2,10,189,3

In [33]:
!head "albany,ny.csv"

This is a file
It has information





date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset","albany,ny_sunrise","albany,ny_sunset","albany,ny_DewPointC","albany,ny_FeelsLikeC","albany,ny_HeatIndexC","albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-5,-5,-5,2,9,67,0.0,1023,-5,10,309,1
2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-11,-6,-6,-6,4,18,68,0.0,1023,-6,10,173,2

# We can choose columns

We usually don't need all of the columns from a file. We can choose which should be brought into a data frame with the `usecols` keyword argument. This can take names or integers (starting with 0) to indicate which columns we want.

In [38]:
df = pd.read_csv('nyc_taxi_2020-07.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'])

In [39]:
df.head()

   passenger_count  trip_distance  total_amount
0              1.0           1.50          9.30
1              1.0           9.50         27.80
2              1.0           5.85         22.30
3              1.0           1.90         14.16
4              1.0           1.25          7.80

In [44]:
df = pd.read_csv('nyc_taxi_2020-07.csv',
                 usecols=[10, 8, 9])

In [45]:
df.head()

   DOLocationID  payment_type  fare_amount
0            75           2.0          8.0
1           216           1.0         26.5
2            88           2.0         18.5
3           232           1.0          8.0
4            17           2.0          6.5

# No headers?

If you're reading a file without any headers, then you can specify the columns you want integers, but then assign names of your choosing. You can do this with the `name` keyword argument. Just pass a list (of the same length) of the columns' names.

In [46]:
df = pd.read_csv('nyc_taxi_2020-07.csv',
                 usecols=[10, 8, 9],
                names=['first', 'second', 'third'])
df.head()

/var/folders/rr/0mnyyv811fs5vyp22gf4fxk00000gn/T/ipykernel_71067/1078312068.py:1: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('nyc_taxi_2020-07.csv',

          first        second        third
0  DOLocationID  payment_type  fare_amount
1            75             2            8
2           216             1         26.5
3            88             2         18.5
4           232             1            8

In [47]:
!unzip airports.zip

Archive:  airports.zip
   creating: airports/
  inflating: airports/airlines.dat
  inflating: airports/airports.dat
  inflating: airports/routes.dat

In [48]:
!mv airports/*.dat .

In [49]:
!rmdir airports

In [50]:
!rm airports.zip

In [52]:
!head -20 airlines.dat

1,"Private flight",\N,"-","N/A","","","Y"
2,"135 Airways",\N,"","GNL","GENERAL","United States","N"
3,"1Time Airline",\N,"1T","RNX","NEXTIME","South Africa","Y"
4,"2 Sqn No 1 Elementary Flying Training School",\N,"","WYT","","United Kingdom","N"
5,"213 Flight Unit",\N,"","TFU","","Russia","N"
6,"223 Flight Unit State Airline",\N,"","CHD","CHKALOVSK-AVIA","Russia","N"
7,"224th Flight Unit",\N,"","TTF","CARGO UNIT","Russia","N"
8,"247 Jet Ltd",\N,"","TWF","CLOUD RUNNER","United Kingdom","N"
9,"3D Aviation",\N,"","SEC","SECUREX","United States","N"
10,"40-Mile Air",\N,"Q5","MLA","MILE-AIR","United States","Y"
11,"4D Air",\N,"","QRT","QUARTET","Thailand","N"
12,"611897 Alberta Limited",\N,"","THD","DONUT","Canada","N"
13,"Ansett Australia",\N,"AN","AAA","ANSETT","Australia","Y"
14,"Abacus International",\N,"1B","","","Singapore","Y"
15,"Abelag Aviation",\N,"W9","AAB","ABG","Belgium","N"
16,"Army Air Corps",\N,"","AAC","ARMYAIR","United Kingdom","N"
17,"Aero Aviation Centre Ltd.",\N,"","AAD","SUNRISE","Canada","N"
18,"Aero Servicios Ejecutivos Internacionales",\N,"","SII","ASEISA","Mexico","N"
19,"Aero Biniza",\N,"","BZS","BINIZA","Mexico","N"
20,"Aero Albatros",\N,"","ABM","ALBATROS ESPANA","Spain","N"

# Exercise: Airline data

1. Create a data frame with information from `airlines.dat`.
2. We only need four columns: The long, full name, the short (three-letter) name, if it exists, the short (two-letter) name, if it exists, and then the country in which it's based.
3. What 10 countries have the greatest number of airlines?

In [58]:
filename = 'airlines.dat'

df = pd.read_csv(filename,
                header=None,
                usecols=[1, 3, 4, 6],
                names=['name', '2LC', '3LC', 'country'])

df.head(20)

                                            name  2LC  3LC         country
0                                 Private flight    -  NaN             NaN
1                                    135 Airways  NaN  GNL   United States
2                                  1Time Airline   1T  RNX    South Africa
3   2 Sqn No 1 Elementary Flying Training School  NaN  WYT  United Kingdom
4                                213 Flight Unit  NaN  TFU          Russia
5                  223 Flight Unit State Airline  NaN  CHD          Russia
6                              224th Flight Unit  NaN  TTF          Russia
7                                    247 Jet Ltd  NaN  TWF  United Kingdom
8                                    3D Aviation  NaN  SEC   United States
9                                    40-Mile Air   Q5  MLA   United States
10                                        4D Air  NaN  QRT        Thailand
11                        611897 Alberta Limited  NaN  THD          Canada
12                              Ansett Australia   AN  AAA       Australia
13                          Abacus International   1B  NaN       Singapore
14                               Abelag Aviation   W9  AAB         Belgium
15                                Army Air Corps  NaN  AAC  United Kingdom
16                     Aero Aviation Centre Ltd.  NaN  AAD          Canada
17     Aero Servicios Ejecutivos Internacionales  NaN  SII          Mexico
18                                   Aero Biniza  NaN  BZS          Mexico
19                                 Aero Albatros  NaN  ABM           Spain

In [59]:
df['country'].value_counts().head(20)

country
United States     1080
Mexico             439
United Kingdom     407
Canada             318
Russia             230
Spain              166
Germany            131
France             119
Australia           93
South Africa        91
Italy               90
Ukraine             89
Nigeria             85
Kazakhstan          79
Sweden              70
China               70
Switzerland         60
Brazil              58
Netherlands         52
Austria             50
Name: count, dtype: int64

In [60]:
!ls *,*

albany,ny.csv  chicago,il.csv	   new+york,ny.csv	 springfield,il.csv
boston,ma.csv  los+angeles,ca.csv  san+francisco,ca.csv  springfield,ma.csv

In [61]:
!head boston,ma.csv

date_time,"boston,ma_maxtempC","boston,ma_mintempC","boston,ma_totalSnow_cm","boston,ma_sunHour","boston,ma_uvIndex","boston,ma_uvIndex","boston,ma_moon_illumination","boston,ma_moonrise","boston,ma_moonset","boston,ma_sunrise","boston,ma_sunset","boston,ma_DewPointC","boston,ma_FeelsLikeC","boston,ma_HeatIndexC","boston,ma_WindChillC","boston,ma_WindGustKmph","boston,ma_cloudcover","boston,ma_humidity","boston,ma_precipMM","boston,ma_pressure","boston,ma_tempC","boston,ma_visibility","boston,ma_winddirDegree","boston,ma_windspeedKmph"
2018-12-11 00:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-7,-3,0,-3,10,0,57,0.0,1022,-3,10,339,8
2018-12-11 03:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-7,-1,1,-1,7,2,57,0.0,1023,-3,10,319,6
2018-12-11 06:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-9,-5,-3,-5,8,4,60,0.0,1023,-4,10,334,7
2018-12-11 09:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-9,1,1,1,3,6,49,0.0,1022,-1,10,334,3
2018-12-11 12:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-6,4,5,4,6,2,44,0.0,1018,1,10,229,5
2018-12-11 15:00:00,1,-4,0.0,8.7,2,2,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-6,3,4,3,4,0,51,0.0,1016,-0,10,188,4
2018-12-11 18:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-6,0,0,0,3,75,64,0.0,1015,-0,10,250,2
2018-12-11 21:00:00,1,-4,0.0,8.7,2,0,21,10:19 AM,08:12 PM,07:03 AM,04:11 PM,-6,-2,-0,-2,8,85,66,0.0,1015,-1,10,313,6
2018-12-12 00:00:00,2,-3,0.0,6.9,1,0,29,10:55 AM,09:10 PM,07:04 AM,04:12 PM,-8,-4,-1,-4,12,97,60,0.0,1013,-2,10,348,9

In [62]:
!head chicago,il.csv

date_time,"chicago,il_maxtempC","chicago,il_mintempC","chicago,il_totalSnow_cm","chicago,il_sunHour","chicago,il_uvIndex","chicago,il_uvIndex","chicago,il_moon_illumination","chicago,il_moonrise","chicago,il_moonset","chicago,il_sunrise","chicago,il_sunset","chicago,il_DewPointC","chicago,il_FeelsLikeC","chicago,il_HeatIndexC","chicago,il_WindChillC","chicago,il_WindGustKmph","chicago,il_cloudcover","chicago,il_humidity","chicago,il_precipMM","chicago,il_pressure","chicago,il_tempC","chicago,il_visibility","chicago,il_winddirDegree","chicago,il_windspeedKmph"
2018-12-11 00:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-5,-7,-1,-7,33,0,76,0.0,1021,-1,10,231,22
2018-12-11 03:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-4,-6,-1,-6,33,0,80,0.0,1021,-1,10,243,21
2018-12-11 06:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-5,-8,-2,-8,28,5,83,0.0,1020,-2,10,240,19
2018-12-11 09:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-5,-6,-1,-6,23,15,77,0.0,1019,-1,10,262,16
2018-12-11 12:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-3,-1,1,-1,8,19,71,0.0,1018,1,10,271,6
2018-12-11 15:00:00,1,-2,0.0,8.7,2,2,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-4,0,1,0,5,17,70,0.0,1018,1,10,30,4
2018-12-11 18:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-3,-3,0,-3,17,35,80,0.0,1019,-0,10,80,10
2018-12-11 21:00:00,1,-2,0.0,8.7,2,0,21,10:26 AM,08:22 PM,07:08 AM,04:19 PM,-3,-5,-0,-5,22,22,84,0.0,1018,-0,10,118,13
2018-12-12 00:00:00,3,-1,0.0,8.7,2,0,29,11:02 AM,09:20 PM,07:09 AM,04:20 PM,-2,-4,0,-4,25,55,83,0.0,1016,0,10,131,13

In [69]:
df = pd.read_csv('chicago,il.csv',
                 usecols=[0, 1, 2],
                 header=0,
                 names=['date_time', 'maxtemp', 'mintemp'])
df

               date_time  maxtemp  mintemp
0    2018-12-11 00:00:00        1       -2
1    2018-12-11 03:00:00        1       -2
2    2018-12-11 06:00:00        1       -2
3    2018-12-11 09:00:00        1       -2
4    2018-12-11 12:00:00        1       -2
..                   ...      ...      ...
723  2019-03-11 09:00:00        3       -2
724  2019-03-11 12:00:00        3       -2
725  2019-03-11 15:00:00        3       -2
726  2019-03-11 18:00:00        3       -2
727  2019-03-11 21:00:00        3       -2

[728 rows x 3 columns]

In [72]:
# if we have many files that fit the same filename pattern,
# and we want to turn them all into data frames, and then
# we want to combine those data frames into a single data frame, we can use a list comprehension

import glob

all_dfs = [pd.read_csv(one_filename,
                       header=0,
                       usecols=[0,1,2],
                       names=['date_time', 'maxtemp', 'mintemp'])
                       .assign(city=one_filename,
                              state=one_filename)
           for one_filename in glob.glob('*,*.csv')]

In [76]:
# let's create a dict, with a dict comprehension!

all_dfs = {one_filename : pd.read_csv(one_filename,
                       header=0,
                       usecols=[0,1,2],
                       names=['date_time', 'maxtemp', 'mintemp'])
                       .assign(city=one_filename,
                              state=one_filename)
           for one_filename in glob.glob('*,*.csv')}

In [77]:
# pd.concat creates one new data frame from all those in its list
pd.concat(all_dfs.values())

,date_time,maxtemp,mintemp,city,state
0,2018-12-11 00:00:00,13,8,"san+francisco,ca.csv","san+francisco,ca.csv"
1,2018-12-11 03:00:00,13,8,"san+francisco,ca.csv","san+francisco,ca.csv"
2,2018-12-11 06:00:00,13,8,"san+francisco,ca.csv","san+francisco,ca.csv"
3,2018-12-11 09:00:00,13,8,"san+francisco,ca.csv","san+francisco,ca.csv"
4,2018-12-11 12:00:00,13,8,"san+francisco,ca.csv","san+francisco,ca.csv"
...,...,...,...,...,...
723,2019-03-11 09:00:00,3,-2,"chicago,il.csv","chicago,il.csv"
724,2019-03-11 12:00:00,3,-2,"chicago,il.csv","chicago,il.csv"
725,2019-03-11 15:00:00,3,-2,"chicago,il.csv","chicago,il.csv"
726,2019-03-11 18:00:00,3,-2,"chicago,il.csv","chicago,il.csv"
727,2019-03-11 21:00:00,3,-2,"chicago,il.csv","chicago,il.csv"

# dtype

Every column has a dtype. How is it set? By default, Pandas will examine all of the values in a column, and then decide:

- If it has only digits, then it uses int64
- If it has digits + a decimal point, then it uses float64
- In all other cases, it uses strings (`object`)

This has at least two drawbacks:

1. It takes time for Pandas to examine and decide for a column.
2. Its defaults are terrible for many values.
3. If you have a lot of data, then Pandas will load it in chunks. If you have different values in different rows, then it might get confused, and assign the wrong dtype. If this happens, you'll typically get a warning telling you that it ran out of memory. You can then specify the dtypes or pass `low_memory=False`.

We can avoid these issues by passing a `dtype` keyword argument to `read_csv`. `dtype` takes a dict; the keys are the column names and the values are the dtypes we want to associate with them.

In [79]:
df = pd.read_csv('nyc_taxi_2020-07.csv',
                 usecols=['passenger_count', 'trip_distance', 'total_amount'],
                 dtype={'passenger_count':pd.Int64Dtype(),
                        'trip_distance':'float',
                        'total_amount':'float'})

In [80]:
df.head()

   passenger_count  trip_distance  total_amount
0                1           1.50          9.30
1                1           9.50         27.80
2                1           5.85         22.30
3                1           1.90         14.16
4                1           1.25          7.80

In [81]:
df.dtypes

passenger_count      Int64
trip_distance      float64
total_amount       float64
dtype: object

# Exercise: Specifying dtypes

1. Read `nyc_taxi_2020-07.csv` into a data frame. How long does it take? (You can use `%timeit` to find out.)
2. Now read only four columns into the data frame -- `passenger_count`, `trip_distance`, `total_amount`, `tip_amount`. Does Pandas read this faster now?
3. Specify their dtypes, and time the loading. Is it even faster?

In [83]:
%timeit pd.read_csv('nyc_taxi_2020-07.csv', low_memory=False)

1.45 s Â± 20.5 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [85]:
%%timeit

pd.read_csv('nyc_taxi_2020-07.csv', 
                    usecols=['passenger_count', 'trip_distance',
                             'total_amount', 'tip_amount'],
                    low_memory=False)

665 ms Â± 10.1 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [87]:
%%timeit

pd.read_csv('nyc_taxi_2020-07.csv', 
                    usecols=['passenger_count', 'trip_distance',
                             'total_amount', 'tip_amount'],
                    dtype={'passenger_count':float,
                           'trip_distance': float,
                           'total_amount':float,
                           'tip_amount':float},
                    low_memory=False)

763 ms Â± 9.23 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

# PyArrow can help us to load faster

Right now, we're (by default) using the Pandas engine to load CSV files. But PyArrow, which is a super-fast in-memory storage system, has its own loader for CSV. We can specify that we want to use it by saying `engine='pyarrow'`.

In [88]:
%timeit pd.read_csv('nyc_taxi_2020-07.csv', engine='pyarrow')

93.6 ms Â± 3.02 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [89]:
%%timeit

pd.read_csv('nyc_taxi_2020-07.csv', 
                    usecols=['passenger_count', 'trip_distance',
                             'total_amount', 'tip_amount'],
                    engine='pyarrow')

13.9 ms Â± 96.8 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [90]:
%%timeit

pd.read_csv('nyc_taxi_2020-07.csv', 
                    usecols=['passenger_count', 'trip_distance',
                             'total_amount', 'tip_amount'],
                    dtype={'passenger_count':float,
                           'trip_distance': float,
                           'total_amount':float,
                           'tip_amount':float},
                    engine='pyarrow')

15.6 ms Â± 106 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

# Dates and times

If we use the builtin Pandas engine for reading CSV files, it will not try to parse datetime information. PyArrow's parser will, however.

If you want to tell Pandas that a column should be interpreted as a datetime, do that by passing a list of strings (column names) to `parse_dates`.

In [92]:
df = pd.read_csv('nyc_taxi_2020-07.csv', 
                    usecols=['tpep_pickup_datetime',
                             'tpep_dropoff_datetime',
                             'passenger_count', 'trip_distance',
                             'total_amount', 'tip_amount'],
                    parse_dates=['tpep_pickup_datetime',
                                 'tpep_dropoff_datetime'],
                    low_memory=False)
df.head()

,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,tip_amount,total_amount
0,2020-07-01 00:25:32,2020-07-01 00:33:39,1.0,1.50,0.00,9.30
1,2020-07-01 00:03:19,2020-07-01 00:25:43,1.0,9.50,0.00,27.80
2,2020-07-01 00:15:11,2020-07-01 00:29:24,1.0,5.85,0.00,22.30
3,2020-07-01 00:30:49,2020-07-01 00:38:26,1.0,1.90,2.36,14.16
4,2020-07-01 00:31:26,2020-07-01 00:38:02,1.0,1.25,0.00,7.80

In [93]:
df.dtypes

tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
tip_amount                      float64
total_amount                    float64
dtype: object

# Ways to affect the parsing of dates

1. `parse_dates`, pass it a list of column names (or numbers) that should be parsed as dates
2. `dayfirst`, which defaults to `False`, indicates whether XX-YY-ZZZZ dates should be interpreted as American dates (with the month first) or European dates (with the day first).
3. `date_format`, where we can specify what the datetime format should look like.

In [95]:
!head -20 albany,ny.csv

This is a file
It has information





date_time,"albany,ny_maxtempC","albany,ny_mintempC","albany,ny_totalSnow_cm","albany,ny_sunHour","albany,ny_uvIndex","albany,ny_uvIndex","albany,ny_moon_illumination","albany,ny_moonrise","albany,ny_moonset","albany,ny_sunrise","albany,ny_sunset","albany,ny_DewPointC","albany,ny_FeelsLikeC","albany,ny_HeatIndexC","albany,ny_WindChillC","albany,ny_WindGustKmph","albany,ny_cloudcover","albany,ny_humidity","albany,ny_precipMM","albany,ny_pressure","albany,ny_tempC","albany,ny_visibility","albany,ny_winddirDegree","albany,ny_windspeedKmph"
2018-12-11 00:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-5,-5,-5,2,9,67,0.0,1023,-5,10,309,1
2018-12-11 03:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-11,-6,-6,-6,4,18,68,0.0,1023,-6,10,173,2
2018-12-11 06:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-12,-7,-7,-7,2,14,68,0.0,1023,-8,10,168,1
2018-12-11 09:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-11,-3,-3,-3,3,8,55,0.0,1021,-4,10,207,3
2018-12-11 12:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-2,-1,-2,4,3,50,0.0,1017,-2,10,189,3
2018-12-11 15:00:00,-2,-8,0.0,8.7,2,2,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-9,-2,-2,-2,1,3,58,0.0,1016,-3,10,79,1
2018-12-11 18:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-10,-4,-4,-4,2,94,62,0.0,1016,-4,10,354,1
2018-12-11 21:00:00,-2,-8,0.0,8.7,2,0,21,10:31 AM,08:22 PM,07:15 AM,04:21 PM,-8,-4,-4,-4,3,66,70,0.0,1016,-4,10,220,2
2018-12-12 00:00:00,0,-5,0.1,6.9,1,0,29,11:07 AM,09:20 PM,07:16 AM,04:21 PM,-6,-6,-4,-6,7,81,83,0.0,1015,-4,10,294,4
2018-12-12 03:00:00,0,-5,0.1,6.9,1,0,29,11:07 AM,09:20 PM,07:16 AM,04:21 PM,-6,-7,-3,-7,12,63,83,0.1,1016,-3,7,299,8
2018-12-12 06:00:00,0,-5,0.1,6.9,1,0,29,11:07 AM,09:20 PM,07:16 AM,04:21 PM,-7,-7,-4,-7,13,49,82,0.0,1018,-4,10,296,8
2018-12-12 09:00:00,0,-5,0.1,6.9,1,1,29,11:07 AM,09:20 PM,07:16 AM,04:21 PM,-8,-6,-2,-6,17,77,62,0.0,1020,-2,10,331,13

# Exercise: Albany temps and snowfall

1. Read the Albany, NY data into a data frame. Make sure that `date_time` is treated as a `datetime` value.
2. You can extract the month from `datetime` with the `.dt.month` method. Use that to retrieve the month, and then calculate the average snowfall in Albany for each month.

In [102]:
filename = 'albany,ny.csv'

df = pd.read_csv(filename, header=2)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date_time                    728 non-null    object
 1   albany,ny_maxtempC           728 non-null    int64
 2   albany,ny_mintempC           728 non-null    int64
 3   albany,ny_totalSnow_cm       728 non-null    float64
 4   albany,ny_sunHour            728 non-null    float64
 5   albany,ny_uvIndex            728 non-null    int64
 6   albany,ny_uvIndex.1          728 non-null    int64
 7   albany,ny_moon_illumination  728 non-null    int64
 8   albany,ny_moonrise           728 non-null    object
 9   albany,ny_moonset            728 non-null    object
 10  albany,ny_sunrise            728 non-null    object
 11  albany,ny_sunset             728 non-null    object
 12  albany,ny_DewPointC          728 non-null    int64
 13  albany,ny_FeelsLikeC         728 non-null    int64
 14  albany,ny_HeatIndexC         728 non-null    int64
 15  albany,ny_WindChillC         728 non-null    int64
 16  albany,ny_WindGustKmph       728 non-null    int64
 17  albany,ny_cloudcover         728 non-null    int64
 18  albany,ny_humidity           728 non-null    int64
 19  albany,ny_precipMM           728 non-null    float64
 20  albany,ny_pressure           728 non-null    int64
 21  albany,ny_tempC              728 non-null    int64
 22  albany,ny_visibility         728 non-null    int64
 23  albany,ny_winddirDegree      728 non-null    int64
 24  albany,ny_windspeedKmph      728 non-null    int64
dtypes: float64(3), int64(17), object(5)
memory usage: 324.4 KB

In [104]:
filename = 'albany,ny.csv'

df = pd.read_csv(filename, header=2, parse_dates=['date_time'])
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date_time                    728 non-null    datetime64[ns]
 1   albany,ny_maxtempC           728 non-null    int64
 2   albany,ny_mintempC           728 non-null    int64
 3   albany,ny_totalSnow_cm       728 non-null    float64
 4   albany,ny_sunHour            728 non-null    float64
 5   albany,ny_uvIndex            728 non-null    int64
 6   albany,ny_uvIndex.1          728 non-null    int64
 7   albany,ny_moon_illumination  728 non-null    int64
 8   albany,ny_moonrise           728 non-null    object
 9   albany,ny_moonset            728 non-null    object
 10  albany,ny_sunrise            728 non-null    object
 11  albany,ny_sunset             728 non-null    object
 12  albany,ny_DewPointC          728 non-null    int64
 13  albany,ny_FeelsLikeC         728 non-null    int64
 14  albany,ny_HeatIndexC         728 non-null    int64
 15  albany,ny_WindChillC         728 non-null    int64
 16  albany,ny_WindGustKmph       728 non-null    int64
 17  albany,ny_cloudcover         728 non-null    int64
 18  albany,ny_humidity           728 non-null    int64
 19  albany,ny_precipMM           728 non-null    float64
 20  albany,ny_pressure           728 non-null    int64
 21  albany,ny_tempC              728 non-null    int64
 22  albany,ny_visibility         728 non-null    int64
 23  albany,ny_winddirDegree      728 non-null    int64
 24  albany,ny_windspeedKmph      728 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(17), object(4)
memory usage: 281.8 KB

In [105]:
df.groupby(df['date_time'].dt.month)['albany,ny_totalSnow_cm'].mean()

date_time
1     2.341935
2     1.296429
3     0.890909
12    0.090476
Name: albany,ny_totalSnow_cm, dtype: float64

# Non-CSV CSV files

You can treat a file as a CSV file if it has (a) regular separators and (b) can be handled with the various options.

In [106]:
!head -20 /etc/passwd

##
# User Database
#
# Note that this file is consulted directly only when the system is running
# in single-user mode.  At other times this information is provided by
# Open Directory.
#
# See the opendirectoryd(8) man page for additional information about
# Open Directory.
##
nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false
root:*:0:0:System Administrator:/var/root:/bin/sh
daemon:*:1:1:System Services:/var/root:/usr/bin/false
_uucp:*:4:4:Unix to Unix Copy Protocol:/var/spool/uucp:/usr/sbin/uucico
_taskgated:*:13:13:Task Gate Daemon:/var/empty:/usr/bin/false
_networkd:*:24:24:Network Services:/var/networkd:/usr/bin/false
_installassistant:*:25:25:Install Assistant:/var/empty:/usr/bin/false
_lp:*:26:26:Printing Services:/var/spool/cups:/usr/bin/false
_postfix:*:27:27:Postfix Mail Server:/var/spool/postfix:/usr/bin/false
_scsd:*:31:31:Service Configuration Service:/var/empty:/usr/bin/false

In [110]:
pd.read_csv('/etc/passwd',
            sep=':',
           comment='#',
           header=None,
           names=['username', 'pw', 'uid', 'gid', 'name', 'homedir', 'shell'])

,username,pw,uid,gid,name,homedir,shell
0,nobody,*,-2,-2,Unprivileged User,/var/empty,/usr/bin/false
1,root,*,0,0,System Administrator,/var/root,/bin/sh
2,daemon,*,1,1,System Services,/var/root,/usr/bin/false
3,_uucp,*,4,4,Unix to Unix Copy Protocol,/var/spool/uucp,/usr/sbin/uucico
4,_taskgated,*,13,13,Task Gate Daemon,/var/empty,/usr/bin/false
...,...,...,...,...,...,...,...
117,_audiomxd,*,294,294,Audio and MediaExperience Daemon,/var/db/audiomxd,/usr/bin/false
118,_terminusd,*,295,295,Terminus,/var/empty,/usr/bin/false
119,_neuralengine,*,296,296,AppleNeuralEngine,/var/db/neuralengine,/usr/bin/false
120,_eligibilityd,*,297,297,OS Eligibility Daemon,/var/db/eligibilityd,/usr/bin/false
121,_oahd,*,441,441,OAH Daemon,/var/empty,/usr/bin/false