In [56]:
myList = [10, 20, 30, 40, 50]
type(myList)

list

1st difference:

    numpy array: immutable. when adjusting the variables inside an array, a new array is created to store

    on constrast: list in python is different. can be append() or pop() (i.e. increase or decrease the size) 

2nd difference:

    numpy array: can only contain one type of data type: int, float, or string 
    
    python list: can have combine structure  

3rd:
 
    python list: is resource consume. not as efficient as numpy array.

In [57]:
import numpy as np

In [58]:
np

In [59]:
a = np.array([10, 20, 30 , 40, 50 ])

In [60]:
a

array([10, 20, 30, 40, 50])

In [61]:
type(a)

numpy.ndarray

In [62]:
a

array([10, 20, 30, 40, 50])

In [63]:
myList

[10, 20, 30, 40, 50]

In [64]:
a = np.array(myList)

In [65]:
type(a)

numpy.ndarray

In [66]:
a

array([10, 20, 30, 40, 50])

In [67]:
a[0]

np.int64(10)

In [68]:
a[1]

np.int64(20)

In [69]:
print (a[1])

20

In [70]:
print (a[0])

10

In [71]:
a[-1]

np.int64(50)

In [72]:
for one_item in a: 
    print(one_item)

10
20
30
40
50

In [73]:
a

array([10, 20, 30, 40, 50])

In [74]:
20 in a

True

In [75]:
a[2:4]

array([30, 40])

In [76]:
a[::2]

array([10, 30, 50])

In [77]:
a[2]

np.int64(30)

In [78]:
a[2] = 999
a

array([ 10,  20, 999,  40,  50])

In [79]:
# numpy has several behaviour like list, but actually it is not.

In [80]:
a.append(60)

AttributeError: 'numpy.ndarray' object has no attribute 'append'

In [ ]:
# we are stuck with the length of the array, unlike python list whereas we can add(increase size) or remove (decrease size) 
# => numpy array fixed size

In [32]:
b =  np.array(range(10, 110, 10))

In [33]:
b

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [35]:
b =  np.arange(10, 110, 10)  # start_index, end_index + 1, step_size

In [36]:
b

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

Exercise

(1) Create a NumPy array with the integers from your birthdate (year,
    month, and day)

(2) Retrieve the year.

(3) Replace the year with the current year.

(4) Create a NumPy array containing every 3rd number from 567 to
    890. What is the 8th number in this array?  What is the 15th?

In [37]:
date_birth  = np.array([1988, 10, 30])

In [38]:
print(date_birth[0])

1988

In [39]:
date_birth[0] = 2024

In [40]:
print(date_birth[0])

2024

In [47]:
random_exercise = np.arange(567, 890+3, 3)

In [48]:
random_exercise

array([567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603,
       606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642,
       645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681,
       684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720,
       723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759,
       762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798,
       801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837,
       840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876,
       879, 882, 885, 888, 891])

In [49]:
random_exercise[7]

np.int64(588)

In [50]:
random_exercise[14]

np.int64(609)

In [51]:
np.random.randint(0, 100, 10)

array([12,  6, 72, 98, 35, 32, 52, 86, 53, 74], dtype=int32)

In [52]:
np.random.randint(0, 100, 10)

array([24, 33, 87, 99,  9, 53,  8,  4, 19, 46], dtype=int32)

In [54]:
np.random.randint(0, 100, 1000)

array([97, 46, 77, 34, 52, 59, 85, 17, 18, 61, 57, 51, 83, 95,  1, 30, 93,
       97, 10, 44, 55,  5,  5, 41, 94, 94, 10, 39, 90, 37, 59, 51, 20, 52,
       33, 85, 72, 88, 47, 47, 33, 81, 95, 73, 86, 99, 86, 20, 68, 25, 21,
       57, 91, 23, 19, 90, 22, 73, 73, 35, 91, 10, 25, 92, 14, 56, 50, 45,
       73, 45, 47,  9, 73, 14, 30, 25, 31, 19, 31, 84, 84, 49, 34, 79, 97,
       59, 89, 86, 37, 17, 88, 84, 92, 41, 36, 90, 76, 28, 34, 35, 94, 91,
       66, 73, 29, 86, 35, 98,  1, 89, 59,  1, 68, 55, 60, 34, 51, 90, 74,
       11, 54, 43, 95, 78, 18, 49, 15, 39, 74, 10, 38, 53, 80, 31, 89, 99,
       99, 81, 96, 60, 20, 95, 71, 85, 17, 96, 80, 37, 35, 11, 65, 19, 64,
       13,  8, 88, 98, 25, 93, 67, 38, 53, 48,  2, 98, 72,  5, 98, 64, 27,
       76, 70, 68, 10, 85,  0,  5, 70, 42, 16, 57, 26, 90, 11, 44, 70, 74,
       75, 11, 35, 98, 33, 33, 87, 87,  0, 64, 67, 58, 90, 93, 36, 35, 86,
        7, 55, 45,  2, 10, 58, 66,  4, 67, 44, 68, 74, 12, 91, 11, 15,  4,
       93, 59, 62, 56, 54, 78, 22, 37,  4, 80, 95, 11, 28, 66, 85,  4, 73,
        6, 70, 29, 24, 41,  9, 30, 76, 24,  5, 64, 61, 80, 17,  5, 23,  8,
       81, 72, 25, 90, 86, 66, 10, 79,  8, 91, 17, 40, 65, 39, 11,  6, 96,
       88, 56, 81, 39,  9, 17, 99, 49, 59,  3,  6, 25, 50, 93, 79, 22, 61,
       44, 38, 45, 29,  6, 34, 22, 39, 93, 41, 97,  6, 34, 38, 26, 18, 53,
       19, 54, 48,  5, 78, 78, 10,  5, 18,  1, 23, 15, 41, 67, 56, 20, 15,
       63, 79,  7, 21, 35, 88,  2, 93, 28, 86, 77, 11, 70, 51, 90, 22, 18,
       15,  2, 60,  5, 32, 19, 79, 71, 91, 14, 55, 92, 71, 34, 93, 76, 38,
       93, 15, 73, 10, 35, 57, 62, 52, 99, 94,  9, 63, 70, 62, 67, 49, 64,
       29, 69, 90, 78, 40, 77, 13, 68, 82, 34, 73, 53, 92, 76, 44, 82, 54,
       60, 48, 34, 95, 83, 85, 86, 29, 87, 39, 59,  0, 67,  2, 36, 51,  2,
       97, 43,  0, 46, 41, 89, 56, 11, 52, 47, 15, 32, 20, 21,  1, 61, 54,
       77, 32, 21, 32, 11, 56, 54, 32, 88, 96, 24,  0, 79, 51, 25, 39, 38,
       43, 37, 68, 49, 48, 54, 34, 50, 52,  4, 72, 99,  8, 22, 94, 96, 31,
       10, 11, 11, 42, 97, 58, 91, 66, 87,  7, 39, 83, 49, 79, 42, 81, 96,
        7, 71, 93, 59, 40, 36, 54, 40, 90, 10, 48, 92, 85, 91, 27, 63, 31,
       58,  8, 81, 69, 82,  3,  0, 91, 78, 51, 33, 94, 75, 73, 86, 12, 15,
       28, 76, 35, 60, 12, 96, 91, 18,  3, 97, 40, 24, 71, 40, 78, 21, 62,
       20, 64, 79, 69, 44, 39, 64, 99, 72, 29, 70, 99, 82, 91,  6, 13, 95,
       32, 98, 37, 16, 82,  6,  4, 74, 82, 91, 81, 98, 69, 27, 48, 11, 18,
       50, 89, 58, 69, 96, 10, 54, 38, 52, 27, 77, 26, 22, 76,  2, 71, 88,
       60, 75, 97, 57, 55, 91, 16, 46, 27, 58, 47,  9, 26, 76,  1, 14, 29,
        4, 93, 45, 35, 50, 65, 17,  6,  8, 32,  1, 15, 65, 39, 45, 65, 34,
       85, 92, 10, 87,  1, 75, 68, 18, 24, 79, 76, 15, 61, 44, 66, 61, 50,
       19, 43, 29, 15, 20, 39, 28, 17, 28, 92, 37, 16, 47, 61, 26, 23, 27,
       44, 75, 24, 40,  9, 77, 91, 75, 86, 69, 82, 91, 48,  7, 30, 93, 93,
       17, 88, 48,  4, 72, 40, 51, 97, 75, 42, 75, 80, 23, 40, 59, 97, 98,
       79, 72, 57, 91, 47, 15, 93, 96,  4, 76, 69, 77, 56, 32, 54, 59, 84,
       73, 42, 86, 86, 86, 56, 83,  2, 68,  7,  1, 75, 14, 63, 68, 82,  1,
       25, 42,  6, 30, 57, 67, 11, 89, 65, 83,  6, 63, 15, 99, 88, 76, 35,
       79,  8, 16, 58, 92, 24, 93, 93,  3, 56, 85,  8, 25, 88,  4,  7, 42,
       51, 36,  8, 41, 67, 66, 87, 69, 83, 66, 25, 80, 36, 86, 23, 60, 13,
       52, 24, 28, 91, 88, 70, 82, 34, 99, 65, 69, 31, 27, 52, 97, 88, 12,
       84, 29, 19, 11, 82, 64, 85,  4, 60,  7, 91, 90, 46, 19, 68, 31, 27,
       55, 76, 35, 28, 12, 20, 92,  9, 29, 82, 72, 33,  9, 24, 37,  8, 11,
       76, 51, 67, 22, 22, 37, 49, 79, 83, 50, 30, 92, 23, 68, 70, 51, 18,
       22, 13, 29, 25, 45, 47, 88, 17, 94,  5, 75,  2, 73, 67, 31, 75, 26,
       93, 25, 55, 98, 48, 39, 90, 55, 41, 64, 73,  9, 32, 19, 63, 50, 52,
       85, 81, 48,  5,  7, 89, 74, 95, 47, 12, 23, 82, 49,  4,  4, 91, 56,
       97,  2, 58, 66, 29, 43, 70, 46, 40, 65, 64, 64, 78, 57, 99, 71, 85,
        9, 99, 86, 40, 85, 22, 97, 96, 54, 88, 98, 68, 61, 40, 31, 37,  6,
       27, 56, 59, 47, 93, 19, 43, 40, 16, 98, 86, 47, 11,  2, 69,  9, 85,
       29, 98, 44, 85, 59, 69, 74, 73, 61, 86, 97, 25, 76, 22, 36, 62, 34,
       88,  8, 20, 29, 56, 56, 19,  0, 11, 60, 17, 73, 65, 32, 98,  4, 43,
        4, 72,  8, 72, 74, 42, 93, 98, 87, 15, 39, 23, 99, 49,  0, 66, 92,
       39, 53, 31, 34,  2, 64, 39, 53, 55, 59, 50,  3, 18,  0],
      dtype=int32)

In [55]:
help(np.random.randint)

Help on method randint in module numpy.random.mtrand:

randint(low, high=None, size=None, dtype=<class 'int'>) method of numpy.random.mtrand.RandomState instance
    randint(low, high=None, size=None, dtype=int)

    Return random integers from `low` (inclusive) to `high` (exclusive).

    Return random integers from the "discrete uniform" distribution of
    the specified dtype in the "half-open" interval [`low`, `high`). If
    `high` is None (the default), then results are from [0, `low`).

    .. note::
        New code should use the `~numpy.random.Generator.integers`
        method of a `~numpy.random.Generator` instance instead;
        please see the :ref:`random-quick-start`.

    Parameters
    ----------
    low : int or array-like of ints
        Lowest (signed) integers to be drawn from the distribution (unless
        ``high=None``, in which case this parameter is one above the
        *highest* such integer).
    high : int or array-like of ints, optional
        If provided, one above the largest (signed) integer to be drawn
        from the distribution (see above for behavior if ``high=None``).
        If array-like, must contain integer values
    size : int or tuple of ints, optional
        Output shape.  If the given shape is, e.g., ``(m, n, k)``, then
        ``m * n * k`` samples are drawn.  Default is None, in which case a
        single value is returned.
    dtype : dtype, optional
        Desired dtype of the result. Byteorder must be native.
        The default value is long.

        .. versionadded:: 1.11.0

        .. warning::
          This function defaults to the C-long dtype, which is 32bit on windows
          and otherwise 64bit on 64bit platforms (and 32bit on 32bit ones).
          Since NumPy 2.0, NumPy's default integer is 32bit on 32bit platforms
          and 64bit on 64bit platforms.  Which corresponds to `np.intp`.
          (`dtype=int` is not the same as in most NumPy functions.)

    Returns
    -------
    out : int or ndarray of ints
        `size`-shaped array of random integers from the appropriate
        distribution, or a single such random int if `size` not provided.

    See Also
    --------
    random_integers : similar to `randint`, only for the closed
        interval [`low`, `high`], and 1 is the lowest value if `high` is
        omitted.
    random.Generator.integers: which should be used for new code.

    Examples
    --------
    >>> np.random.randint(2, size=10)
    array([1, 0, 0, 0, 1, 1, 0, 0, 1, 0]) # random
    >>> np.random.randint(1, size=10)
    array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

    Generate a 2 x 4 array of ints between 0 and 4, inclusive:

    >>> np.random.randint(5, size=(2, 4))
    array([[4, 0, 2, 1], # random
           [3, 2, 2, 0]])

    Generate a 1 x 3 array with 3 different upper bounds

    >>> np.random.randint(1, [3, 5, 10])
    array([2, 2, 9]) # random

    Generate a 1 by 3 array with 3 different lower bounds

    >>> np.random.randint([1, 5, 7], 10)
    array([9, 8, 7]) # random

    Generate a 2 by 4 array using broadcasting with dtype of uint8

    >>> np.random.randint([1, 3, 5, 7], [[10], [20]], dtype=np.uint8)
    array([[ 8,  6,  9,  7], # random
           [ 1, 16,  9, 12]], dtype=uint8)

In [56]:
np.random.rand(10) # creating floating numbers between 0 and 1

array([0.03064869, 0.10673882, 0.98055845, 0.59437702, 0.27476696,
       0.70000257, 0.98937587, 0.00253565, 0.38798015, 0.44482991])

In [59]:
c = np.random.randint(0, 100, 10)
c

array([96, 64, 93, 48, 64, 54, 15, 94, 10,  6], dtype=int32)

In [66]:
np.random.seed(1)
c = np.random.randint(0, 100, 10)
c

array([37, 12, 72,  9, 75,  5, 79, 64, 16,  1], dtype=int32)

In [69]:
help (np.random.seed) # still not able to understand the actual machanical running behind, I can put it in a simple term is this method will make sure the same set numbers will be generate when we run random :) 
                        # not quite sure how changing the arguments will impact the function of this method

Help on cython_function_or_method in module numpy.random.mtrand:

seed(seed=None)
    seed(seed=None)

    Reseed the singleton RandomState instance.

    Notes
    -----
    This is a convenience, legacy function that exists to support
    older code that uses the singleton RandomState. Best practice
    is to use a dedicated ``Generator`` instance rather than
    the random variate generation methods exposed directly in
    the random module.

    See Also
    --------
    numpy.random.Generator

# vectorized operations with two arrays

In [70]:
a  = np.array(myList)

In [71]:
a

array([10, 20, 30, 40, 50])

In [72]:
a + a

array([ 20,  40,  60,  80, 100])

In [73]:
b = np.array([100, 200, 300, 400, 500])

a + b

array([110, 220, 330, 440, 550])

In [74]:
a - b

array([ -90, -180, -270, -360, -450])

In [75]:
a/b

array([0.1, 0.1, 0.1, 0.1, 0.1])

*does not work if the arrays are not in the same size or length*

In [76]:
a = np.array(myList)

In [77]:
a

array([10, 20, 30, 40, 50])

In [78]:
a.sum() # method version

np.int64(150)

In [79]:
np.sum(a)

np.int64(150)

In [30]:
a.mean()

np.float64(223.8)

In [81]:
a.size

5

In [29]:
a.size()

TypeError: 'int' object is not callable

In [28]:
a.mean()

np.float64(223.8)

In [27]:
a.sum() / a.size

np.float64(223.8)

In [81]:
a = np.array([30, 25, 35, 25, 35, 30])

In [82]:
a.mean()

np.float64(30.0)

In [83]:
a.std()

np.float64(4.08248290463863)

In [84]:
a = np.ones(5) *30
a

array([30., 30., 30., 30., 30.])

In [85]:
a.mean()

np.float64(30.0)

In [86]:
a.std()

np.float64(0.0)

In [87]:
a = np.array([10, 20, 30 , 40, 50 ])

In [88]:
a.min()

np.int64(10)

In [89]:
a.max()

np.int64(50)

In [90]:
print (a.max())

50

#### Exercise 2: 
(1) Create an array of 10 random integers, from 0-100.

(2) Find the mean and standard deviation of these numbers.  

(3) Create another array of 10 random integers, from 0-100.

(4) Create a new array whose elements are the average of those from
    each of the previous ones.  

(5) Create an array of 10 random floats, from 0-100.

(6) We would expect the mean to be approaximately 50.  Is it?  What's
    the standard deviation?

(7) What are the min and max values?

In [105]:
exercise2a = np.random.randint(0, 100, 10)
exercise2a

array([75, 55, 20, 14,  2, 80, 78, 24, 91, 34], dtype=int32)

In [106]:
exercise2a.mean()

np.float64(47.3)

In [107]:
exercise2a.std()

np.float64(30.617152055669713)

In [108]:
exercise2b = np.random.randint(0, 100, 10)
exercise2b

array([90, 10, 29, 63, 51, 69, 24, 17, 49, 16], dtype=int32)

In [109]:
type(exercise2a)

numpy.ndarray

In [110]:

exercise2c = exercise2b.mean()

In [112]:
print(exercise2c)

41.8

In [115]:
exercise2d = np.random.uniform(0, 100, 10)
exercise2d

array([52.15569236, 53.23338522, 46.16725809, 88.17419877, 20.123059  ,
       14.28742957, 80.03636225, 34.25058756, 19.36707178, 73.7955575 ])

In [116]:
exercise2d.std()

np.float64(25.05198943419966)

In [117]:
exercise2d.mean()

np.float64(48.159060208616026)

In [118]:
exercise2d.max()

np.float64(88.17419876677096)

In [119]:
exercise2d.min()

np.float64(14.287429565391873)